<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/suma" method="POST">
        <label>Numero 1: </label>
        <input type="number" name="no1" placeholder="">

        <label>Numero 2: </label>
        <input type="number" name="no2" placeholder="">

        <label>Numero 3 </label>
        <input type="number" name="no3" placeholder="">

        <button type="submit">sumar</button>
    </form>
</body>
</html>